name: Publish
on:
  workflow_dispatch:
  push:
    branches: main
jobs:
  publish:
    name: Publish
    uses: emacscollective/workflows/.github/workflows/publish.yml@main
    secrets:
      rclone_config: ${{ secrets.RCLONE_CONFIG }}
